<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사진 업로드</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
</head>
<body>
    <header>
        <h1>사진 업로드</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes" style="display: none;">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </header>

    <main>
        <section id="upload-section">
            <h2>사용자의 정면 사진을 업로드 해주세요</h2>
            <form id="upload-form" action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">
                <label for="userPhoto">사진 선택:</label>
                <input type="file" id="userPhoto" name="userPhoto" accept="image/*" required>
                <button type="submit">사진 업로드</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 뇌졸증 진단 프로그램. All rights reserved. @bmsw</p>
    </footer>
</body>
</html>
